body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:  #F4F7FC;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    height: 100%;
}

div.container {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    row-gap: 102px;
    margin-left: 142.2px;
    margin-top: 80px ;
}
div.logo {
    width: 42.61px;
    height: 37px;
}
div.logo > svg {
    width: 100%;
    height: 100%;
}
div.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

h2 {
    font-weight: bold;
    font-size: 46px;
    line-height: 48px;
    color: #0B2253;
}

p {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    color: #B3BECF;
}

div.form-container {
    width: 528px;
    height: 552px;
    background: #FFFFFF;
    border: 1px solid #DEE3EB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 40px 32px;
}

label {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #6D7A98;
}

form {
    box-sizing: border-box;
}

div.width {
    width: 464px;
}
.d-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

small {
    color: red;
    margin-top: -12px;
}
input, button {
    /* height: 48px;
    background: #FFFFFF;
    border: 1px solid #DEE3EB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.05px;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 8px;
    outline: none; */
}

.relative {
    position: relative;
}

.password-icon {
   position: absolute;
   top: 38px;
   right: 15px;
}

.inline-form {
    width: 224px;
}

input:focus {
    border: 1px solid #1F6AEC;
}

span {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #6D7A98;
}

button {
    /* background-color:#1F6AEC;
    text-align: center;
    border-radius: 8px;
    padding: 12px 0px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 0px */
}


a {
    font-weight: 600;
    text-decoration: none;
    color: #1F6AEC;
}
