input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  height: 48px;
  background: #ffffff;
  border: 1px solid #dee3eb;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.05px;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 8px;
  outline: none;
  color: #0b2253;
}

.text-label {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #6d7a98;
}

small {
  color: red;
  margin-top: -12px;
}
input:focus {
  border: 1px solid #1f6aec;
}

input::placeholder {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #0b2253;
}
