.welcome-flex {
    display: flex;
    justify-content: space-between;
}
.align-bottom {
    align-self: baseline; 
}
h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.25px;
    color: #0B2253;
}
.header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    width: 167px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #1F6AEC;
    border-radius: 8px;
    color: #1F6AEC;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; */
    /* letter-spacing: 0.2px; */
}

.btn {
    width: 163px;
    background: #1F6AEC;
    color: #FFFFFF;
    margin-left: 20px;
}