div.form-container {
    width: 528px;
    height: 552px;
    background: #FFFFFF;
    border: 1px solid #DEE3EB;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 40px 32px;
}
form {
    box-sizing: border-box;
}
div.width {
    width: 464px;
}
.d-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.inline-form {
    width: 224px;
}
.relative {
    position: relative;
}
.password-icon {
    position: absolute;
    top: 40px;
    right: 15px;
}
span {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #6D7A98;
}
button {
    height: 48px;
    border: 1px solid #DEE3EB;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    margin-bottom: 24px;
    outline: none;
    background-color:#1F6AEC;
    border-radius: 8px;
    padding: 12px 0px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    font-weight: 600;
    text-decoration: none;
    color: #1F6AEC;
}