.transaction-history {
    display: flex;
    flex-flow: column nowrap;
}
h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0B2253;
}
table {
    width: 100%;
}
thead > tr, tbody > tr {
    border-bottom: 1px solid black;
}
td {
    border-collapse: collapse;
}
thead tr {
    box-sizing: border-box;
    background-color: #F1F4F8;
    height: 56px;
    color: #0B2253;
    text-align: start;
}
tbody tr {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0B2253;
    height: 72px;
    padding: 24px 24px;  
}
th, td {
    text-align: start;
    padding: 16px 24px;
}
span {
    color: grey;
}