.d-flex-otp {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.otp-input-container {
    width: 264px;
    height: 52px;
    margin: 24px 0;
}
.otp-title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #0B2253;
}
.inline-input-otp {
    width: 48px;
}
.small-otp, .span-otp, .otp-timer {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #0B2253;
    margin-top: 0;
}
.span-otp {
    font-weight: 600;
    color: #1F6AEC;
    text-decoration: none;
}
.otp-timer {
    line-height: 16px;
}