.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: rgb(0, 0, 0);
    background: rgba(13, 15, 17, 0.3);
}
.overlay-content {
    background-color: #FFFFFF;
    float: right;
    width: 496px;
    height: 100%;
}
.transfer {
    display: grid;
    grid-template-rows: 0.05fr 0.9fr;
}
h3 {
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D7DCE0;
    padding: 32px 24px;
}
.content {
    display: flex;
    flex-flow: column nowrap;
    padding: 40px 32px;
}

.options {
    display: flex;
    flex-flow: column nowrap;
    width: 242px;
}

.radios {
    display: flex;
    margin-bottom: 32px;
}
.mr-85 {
    margin-right: 85px;
}
label {
    margin-bottom: 8px;
}

input[type='radio'] {
    margin-right: 8px;
    padding-bottom: 10px;  
}

.radio {
    display: flex;
    justify-content: start;
    align-items: center;
}

.acct-number, .amount {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 24px;
    width: 432px;
}

.amount {
    margin-bottom: 32px;
}

.fund-amount {
    margin-bottom: 24px; 
}

input[type='text'] {
    width: 100%;
    height: 48px;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #DEE3EB;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

div.submit-transfer > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 173px;
    width: 432px;
    height: 48px;
    background: #1F6AEC;
    border-radius: 8px;
    color: #FFFFFF;
    outline: none;
}

.bottom {
    display: flex;
    flex-flow: column nowrap;
}