div.form-sub-container {
    padding: 18px 30px 21px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
div.text-div {
    align-self: center;
}
h3.inbox-message {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.761905px;
    color: #0B2253;
    margin-bottom: 16px;
}
span.inbox-message {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.05px;
    color: #6D7A98;
    margin-top: 0;
    text-align: center;
}
div.img-div {
    width: 165.2px;
    height: 161px;
    border-radius: 0px;
    align-self: center;
}