.options {
  display: flex;
  flex-flow: column nowrap;
  max-width: 250px;
}
.select-wallet-type-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.002em;
  color: #0b2253;
}
.radios {
  display: flex;
  margin-bottom: 32px;
  justify-content: space-between;
  align-items: center;
}
.acct-number,
.amount {
  display: flex;
  flex-flow: column nowrap;
  width: 432px;
}
.fund-amount {
  margin-bottom: 24px;
}

.bottom {
  display: flex;
  flex-flow: column nowrap;
}
